body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home Page */

.home-container {
    text-align: center;
}

.home-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 0;
}

.home-container p {
    font-size: 24px;
}

.home-recipe-img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    padding: 20px;
}

.home-recipe-form {
    padding: 20px;
}

.home-recipe-input {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.home-recipe-input:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.home-recipe-input:active {
    position:relative;
	top:1px;
}

.home-container li {
    box-sizing: border-box;
    display: inline-block;
}


/* Individual Recipe Pages */

.recipe-container {
    display: grid;
    grid-template-columns: 0.5fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: px;
    grid-row-gap: 0px;
}

.c1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.c2 {
    grid-area: 1 / 2 / 2 / 4;
}

.c3 {
    grid-area: 2 / 1 / 3 / 2;
}

.c3 li {
    padding-bottom: 10px;
}

.c4 {
    grid-area: 2 / 2 / 3 / 4;
}

.c4 li {
    padding-bottom: 10px;
}

.block {
    padding: 20px;
    border: solid black;
    margin: 10px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block p, .block li {
    font-size: 20px;
}

.recipe-page-img {
    width: 300px;
    height: auto;

}